Repository awell-health/awell-extensions, pull requests merged in 2023-11, with the labels that each got.

#290 [Healthie] Pass in provider and patient id when creating conversation to help Healthie
  extensions/healthie/actions/sendChatMessage/sendChatMessage.ts
Labels: bug, extension

#295 TP-463 feat(sendbird): improve custom field update action
  extensions/sendbird/v1/actions/updateCustomerCustomFields/updateCustomerCustomFields.test.ts
  extensions/sendbird/v1/actions/updateCustomerCustomFields/updateCustomerCustomFields.ts
  extensions/sendbird/v1/validation.test.ts
  extensions/sendbird/v1/validation.ts
Labels: enhancement, extension

#300 TP-614: fix faulty pattern for handling onError in webhooks
  extensions/calDotCom/webhooks/bookingCreated.ts
  extensions/calDotCom/webhooks/bookingRescheduled.ts
  extensions/healthie/webhooks/appliedTagCreated.ts
  extensions/healthie/webhooks/appliedTagDeleted.ts
  extensions/healthie/webhooks/appointmentCreated.ts
  extensions/healthie/webhooks/appointmentDeleted.ts
  extensions/healthie/webhooks/appointmentUpdated.ts
  extensions/healthie/webhooks/formAnswerGroupCreated.ts
  extensions/healthie/webhooks/formAnswerGroupDeleted.ts
  extensions/healthie/webhooks/formAnswerGroupLocked.ts
  extensions/healthie/webhooks/formAnswerGroupSigned.ts
  extensions/healthie/webhooks/goalCreated.ts
  extensions/healthie/webhooks/goalDeleted.ts
  extensions/healthie/webhooks/goalUpdated.ts
  extensions/healthie/webhooks/labOrderCreated.ts
  extensions/healthie/webhooks/labOrderUpdated.ts
  extensions/healthie/webhooks/messageCreated.ts
  extensions/healthie/webhooks/messageDeleted.ts
  extensions/healthie/webhooks/metricEntryCreated.ts
  extensions/healthie/webhooks/metricEntryDeleted.ts
  extensions/healthie/webhooks/metricEntryUpdated.ts
  extensions/healthie/webhooks/patientCreated.ts
  extensions/healthie/webhooks/patientUpdated.ts
  extensions/healthie/webhooks/requestedFormCompletionCreated.ts
  extensions/healthie/webhooks/requestedFormCompletionDeleted.ts
  extensions/healthie/webhooks/requestedFormCompletionUpdated.ts
  extensions/healthie/webhooks/taskCreated.ts
  extensions/healthie/webhooks/taskDeleted.ts
  extensions/healthie/webhooks/taskUpdated.ts
Labels: bug
