Repository awell-health/awell-extensions, pull requests merged in 2024-01, with the labels that each got.

#303 feat(collectData): add collectData extension and remoteSingleSelect action
  extensions/collectData/CHANGELOG.md
  extensions/collectData/README.md
  extensions/collectData/index.ts
  extensions/collectData/settings.ts
  extensions/collectData/v1/actions/index.ts
  extensions/collectData/v1/actions/remoteSingleSelect/config/dataPoints.ts
  extensions/collectData/v1/actions/remoteSingleSelect/config/fields.ts
  extensions/collectData/v1/actions/remoteSingleSelect/config/index.ts
  extensions/collectData/v1/actions/remoteSingleSelect/index.ts
  extensions/collectData/v1/actions/remoteSingleSelect/remoteSingleSelect.test.ts
  extensions/collectData/v1/actions/remoteSingleSelect/remoteSingleSelect.ts
Labels: enhancement, extension, High priority, tests

#297 [Healthie] tests(healthie): add tests for createMetricEntry action
  extensions/healthie/actions/createMetricEntry/createMetricEntry.test.ts
Labels: extension, tests

#310 Advanced data collection extension
  extensions/collectData/README.md
  extensions/collectData/index.ts
  extensions/collectData/v1/actions/remoteSingleSelect/remoteSingleSelect.ts
Labels: documentation, extension

#321 feat(healthie): Add checkPatientTag and checkScheduledAppointments actions
  extensions/healthie/CHANGELOG.md
  extensions/healthie/README.md
  extensions/healthie/actions/checkPatientTag/checkPatientTag.test.ts
  extensions/healthie/actions/checkPatientTag/checkPatientTag.ts
  extensions/healthie/actions/checkPatientTag/config/dataPoints.ts
  extensions/healthie/actions/checkPatientTag/config/fields.ts
  extensions/healthie/actions/checkPatientTag/config/index.ts
  extensions/healthie/actions/checkPatientTag/index.ts
  extensions/healthie/actions/checkScheduledAppointments/checkScheduledAppointments.test.ts
  extensions/healthie/actions/checkScheduledAppointments/checkScheduledAppointments.ts
  extensions/healthie/actions/checkScheduledAppointments/config/dataPoints.ts
  extensions/healthie/actions/checkScheduledAppointments/config/fields.ts
  extensions/healthie/actions/checkScheduledAppointments/config/index.ts
  extensions/healthie/actions/checkScheduledAppointments/index.ts
  extensions/healthie/actions/graphql/GetScheduledAppointments.graphql
  extensions/healthie/actions/graphql/GetUser.graphql
  extensions/healthie/actions/index.ts
  extensions/healthie/gql/__mocks__/sdk.ts
  extensions/healthie/gql/sdk.ts
Labels: extension, High priority

#327 V1C-380: implement 'Post Letter' action in elation extension
  extensions/elation/CHANGELOG.md
  extensions/elation/__mocks__/client.ts
  extensions/elation/__mocks__/constants.ts
  extensions/elation/actions/__tests__/postLetter.ts
  extensions/elation/actions/index.ts
  extensions/elation/actions/postLetter.ts
  extensions/elation/client.ts
  extensions/elation/types/letter.ts
  extensions/elation/validation/letter.zod.ts
Labels: extension

#328 V1C-381: implement 'Create Lab Order' action in elation extension
  extensions/elation/__mocks__/client.ts
  extensions/elation/__mocks__/constants.ts
  extensions/elation/actions/__tests__/createLabOrder.ts
  extensions/elation/actions/createLabOrder.ts
  extensions/elation/actions/index.ts
  extensions/elation/client.ts
  extensions/elation/types/labOrder.ts
  extensions/elation/validation/labOrder.zod.ts
Labels: extension
